<form action="Personaje.php" method="post">
    <p>Nombre del Personaje: <input type="text" name="nombre" /></p>
    <p>INT: <input type="number" name="caracteristicas[int]" /></p>
    <p>REF: <input type="number" name="caracteristicas[ref]" /></p>
    <p>DES: <input type="number" name="caracteristicas[des]" /></p>
    <p>TCO: <input type="number" name="caracteristicas[tco]" /></p>
    <p>MOV: <input type="number" name="caracteristicas[mov]" /></p>
    <p>EMP: <input type="number" name="caracteristicas[emp]" /></p>
    <p>TEC: <input type="number" name="caracteristicas[tec]" /></p>
    <p>VOL: <input type="number" name="caracteristicas[vol]" /></p>
    <p>SUE: <input type="number" name="caracteristicas[sue]" /></p>
    <p><input type="submit" /></p>
   </form>

   <form action="abrir.php" method="post">
<p>Seleccione un personaje existente: 
<p><input type="file" name="personaje">:
    <p><input type="submit" /></p>
   </form>



   